genre_t.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.lukasz_marzec_i_niemarzec.buziaczek.pl/genre_t" targetNamespace="http://www.lukasz_marzec_i_niemarzec.buziaczek.pl/genre_t">
  <!-- Genres -->
  <xs:simpleType name="genreID_t">
    <xs:restriction base="xs:NCName">
      <xs:pattern value="G\d+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="genre_t">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id_g" type="genreID_t" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
